[user]
	name = chuck.lei
	email = dilin.life@gmail.com
[core]
	editor = vim
[merge]
	tool = vimdiff
[color]
	ui = true
[alias]
  lastpatch = format-patch HEAD^
  undolastcommit = reset --hard HEAD~1
  backup = "!f(){ current=`git rev-parse --abbrev-ref HEAD`; git checkout -b "$current.bak"; git checkout $current; }; f"
  listfiles = show --pretty="format:" --name-only
  update = !git fetch origin && git rebase origin/develop
  pushtoserver = "!f(){ current=`git rev-parse --abbrev-ref HEAD`; git update; git push origin "HEAD:$current"; }; f"
	tar = "!f(){ current=`git rev-parse --abbrev-ref HEAD`; tar -czvf "$current.tar.gz" `git ls-files`; }; f"
	deleteremote = "!f(){ git push origin --delete $1; }; f"
  #git diff mybranch master -- myfile.cs
  #git merge-base A B
  #git cherry-pick [--edit] [-n] [-m parent-number] [-s] [-x] [--ff] <commit>

[receive]
	denyCurrentBranch = refuse
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
